
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>HomePage</h2>
@Html.ActionLink("Home other", "Index", "Home2")<br />
@Html.ActionLink("Home other 2","blog1","Home3")<br />