
@{
    ViewBag.Title = "blog2";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>blog2</h2>

@section link{
    <li> @Html.ActionLink("blog1", "blog1", "Home3") </li>
}
@section footer{
    <b>Bu sayfayı kopyalayabilirsiniz!</b>
}
